
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a, a:visited, a:link{
    color: #eee;
    text-decoration: none;
}


body{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5f4f2;
}
    
.logo{
    width: 19rem;
    padding-top: 2rem;
}
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    height: 10rem;
    align-items: center;
    color: #CE6702;
    font-size: 120%;
    background-color: #f5f4f2;
    padding: 2rem;
    text-transform: uppercase;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav > .logo{
    font-size: 200%;
    padding: 1rem;
    width: 19rem;
    padding-top: 2rem;
}
.list{
    display: flex;
    list-style: none;
    gap:4rem;
    font-family: 'Merienda', cursive;
}
.listitem > a{
   color: #000;
}

.cta{
    width: 11rem;
    padding:  1rem;
    font-size: 60%;
    background-color: #CE6702;
    border: none;
    color: #eee;
    border-radius: 0.5rem;
    text-transform: uppercase;
}
.cta:hover{
    transform: scale(1.1);
    transition: 0.50s;
}
.cta:hover{
    cursor: pointer;
    background: hsl(27, 78%, 57%);
    transition: 0.6s;
}
.banner{
    height: 95vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.banner > figure{
    height: 100%;
    width: 100%;
   background: url("../img/home.jpg");
   background-position: center;
  
   
}
.banner > figure > div{
    position: absolute;
    top: 50%;
    left: 15%;
    color: #eee;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.heading{
    font-size: 13rem;
    border: 0.3rem  #dac4ae;
    padding:0.5rem ;
    font-family: 'Dancing Script', cursive;
    color: #cc6907;
}
.heading2{
    font-size: 200%;
    font-family: 'Kalam', cursive;
    color: #cc6907;
}
.over{
    background: #f5f4f2;
    padding: 4rem;
    min-height:100rem ;
}
.over > header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.over > header > h2{
    color: #CE6702;
    font-size: 400%;
    font-family: 'Kalam', cursive;
}
.over > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.over > div > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 
.over > div > div > p{
    width: 55ch;
    color: #cc6907;
}
.over > div > img{
    width: 60rem;
    height: 60rem;
    object-fit: cover;
    box-shadow: 0px 3px 10px 3px #CE6702;
}
.over > div > img{
    transform: scale(1.1);
    transition: 0.50s;
}
.kenmerken{
    height:100vh ;
    padding: 4rem;
    background-color: #fffefc;
}
.kenmerken > header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #eee;
    height: 20%;
}
.kenmerken > header > h2{
    color: #cc6907;
    font-size: 400%;
    font-family: 'Kalam', cursive;
}
.onzeKenmerken{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.kenmerk{
    list-style: none;
    color: #cc6907;
    width: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kenmerk > p{
    width: 55ch;
    text-align: center;
}
.kenmerkIcon{
    font-size: 200%;
    padding: 2rem;
    border-radius:50%;
}
.sorten{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
.apple{
    min-height: 22.8125rem;
    width: 50rem;
    height: 50rem;
    padding: 1.25rem 2.1875rem;
    border-radius: 1.25rem;
    margin: 0.9375rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.377),
        inset 0rem -0.625rem 0.625rem -0.625rem rgb(146, 139, 139);
}
.apple > p{
    color:#a5c7e3;
}
.apple--blok > img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    
}
.apple:hover {
    border: 0.25rem solid #1c88d0;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.3125rem 0rem rgb(154, 104, 12);
}
.watch{
    min-height: 22.8125rem;
    width: 50rem;
    height: 50rem;
    padding: 1.25rem 2.1875rem;
    border-radius: 1.25rem;
    margin: 0.9375rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    flex-wrap: wrap;
    background: white;
    list-style-type: none;
    box-shadow: 0rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.377),
        inset 0rem -0.625rem 0.625rem -0.625rem rgb(146, 139, 139);
}
.watch--blok > img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.watch:hover {
    border: 0.25rem solid #f026cf;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.3125rem 0rem rgb(154, 104, 12);
}
.samsung{
    min-height: 22.8125rem;
    width: 50rem;
    height: 50rem;
    padding: 1.25rem 2.1875rem;
    border-radius: 1.25rem;
    margin: 0.9375rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    flex-wrap: wrap;
    background: white;
    list-style-type: none;
    box-shadow: 0rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.377),
        inset 0rem -0.625rem 0.625rem -0.625rem rgb(146, 139, 139);
}
.samsung:hover {
    border: 0.25rem solid #d12990;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.3125rem 0rem rgb(154, 104, 12);
}






.gallerij{
    height:100%;
    padding: 2rem;
    
}
.gallerij > header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.gallerij > header > h2{
    color: #CE6702;
    font-size: 400%;
    font-family: 'Kalam', cursive;
}
.fotos{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.foto{
    width: 25%;
    height: 40rem;
    list-style: none;

}
.foto > section{
    content: "" ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(206, 104, 2, 0.177),rgba(238, 238, 238, 0.219));
    transform: scaleX(0);
    transition: 0.8s;
    transform-origin:left ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto >section > .cta{
    opacity:0;
    transition-delay: 0.8s;
    transition-duration: 0.2s;
}
.foto:hover > section > .cta{
    opacity: 1;
}
.foto:hover > section{
    transform: scalex(1);
}
.foto > img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
.pageFooter {
    position: relative;
    width: 100%;
    height: 50rem;
    background:#fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 50px;

}

footer p:nth-child(1) {
    font-size: 1.875rem;
    color: white;
  
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
  
    width: 31.25rem;
    text-align: center;
    line-height: 1.625rem;

}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 1.25rem;
    position: relative;
    margin: 10px 0;
    list-style: none;
    
}

.social-icons li {
    margin: 0 0.625rem;
    list-style: none;
}

.social-icons li a {
    font-size: 2.5rem;
    text-shadow: 0 0 0rem;
    transition: 0.5 ease;
    margin: 0 10px;
    display: inline-block;
    list-style: none;
}

.social-icons li a:hover {
    text-shadow: 0 0 0.625rem;
    transition: .4s;
    transform: translateY(-10px);
}
.footer--menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.footer--menu li a {
    font-size: 2.5rem;
    color: #cc6907;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
.footer--menu li a:hover{
    opacity: 1;
} 
.pageFooter p{
    color:#cc6907;
    text-align: center;
    margin-top:15px ;
    margin-bottom: 10px;
    font-size: 2rem;

}
@media screen and(max-width: 75rem) {
    body{
        font-size: 1.6rem;
    }
    .banner{
        height: 140rem;
    }
    .over{
        height: 120rem;
    }
    .over > div {
        flex-direction: column;
    }
    .over > div > div > p{
        width: 100%;
        color: #eee;
    }
    .over > div > figure{
        position: relative;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:50rem) {
    .list{
        flex-direction: column;
    }
    .sorten{
        flex-direction: column;
    }
    .onzeKenmerken{
        font-size: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 10rem;
        padding-bottom: 10rem;
        height: 50vh;
    }
    .nav{
        height: 19rem;
        flex-wrap: wrap;
        font-size: 2rem;
    }
    .kenmerken > header > h2{
        display: none;
    }
    .banner {
        padding-top: 20rem;
        font-size: 1rem;
    }
    

}